@model propietario

@{
    ViewData["Title"] = "Añadir propietario";
}

<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1>Añadir Propietario</h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group text-center">
                        <img id="ProfilePicturePreview"  class="border-info rounded-circle" style="max-width: 150px" />
                    </div>
                    <div class="form-group">
                        <label asp-for="FotoDePerfilURL" class="control-label"></label>
                        <input asp-for="FotoDePerfilURL" class="form-control" />
                        <span asp-validation-for="FotoDePerfilURL" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NombreCompleto" class="control-label"></label>
                        <input asp-for="NombreCompleto" class="form-control" />
                        <span asp-validation-for="NombreCompleto" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DescripcionPropietario" class="control-label"></label>
                        <input asp-for="DescripcionPropietario" class="form-control" />
                        <span asp-validation-for="DescripcionPropietario" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-outline-success float-right" />
                        <a class="btn btn-outline-secondary" asp-action="Index">Mostrar Detalles</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@*jquery para validar si existe la img que se va a crear*@
@section Scripts{ 
    <script>
        $(document).ready(function () {
            var output = document.getElementById('ProfilePicturePreview');
            output.src = $("#FotoDePerfilURL").val();
        })
        $("#FotoDePerfilURL").on("change", function () {
            var output = document.getElementById('ProfilePicturePreview');
            output.src = $(this).val();
        })
    </script>
}